.welcome-container {
  text-align: center;
  justify-content: center;
}

.logo {
  max-width: 200px;
  margin: 20px auto 20px;
}

.welcome-container ul {
    text-align: left;
}

.startButton {
  text-align: center;
}