
  <ion-content class="ion-padding" [fullscreen]="true">
    <div class="welcome-container">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" size-sm="6" class="ion-text-center">
            <img src="assets/images/MainPicture2.png" alt="Logo" class="logo" />
          </ion-col>
          <ion-col size="12" size-sm="6">
            <p>Aplikacja powstała w ramach zaliczenia studiów podyplomowych o kierunku Tworzenie aplikcji mobilnych i internetowych.</p>
            <h4>Autorzy</h4>
            <ul>
              <li>Przemysław WACH</li>
              <li>Piotr ŚPIEWAK</li>
              <li>Marek LUBKIEWICZ</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </div>

    <div class="startButton">
      <ion-button  fill="clear" (click)="start()">
      Zaczynamy
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
    </div>


  </ion-content>