ion-item {
  margin-bottom: 10px;
  background: #0d8d18;
  border-radius: 10px;
}
ion-label h2 {
  font-size: 18px;
  font-weight: bold;
  color: #3a3a3a;
}
ion-label p {
  font-size: 14px;
  color: #5a5a5a;
}

ion-icon {
  font-size: 20px;
  padding-inline-end: 8px;
  color: rgb(28, 28, 49);
}

.divider {
  padding: 15px;
}

.listgames {
  padding-left: 30px;
  font-style: italic;
}
.data {
  font-weight: 600;
}