<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
 <div id="container">
  <h2>Tu będą umieszczone elementy strony z zaplanowanymi rozgrywkami</h2>
  <p>Lorem ipsum dolor sit amet. <strong>tekst wyróżniony</strong> tenetur facere ut accusamus perferendis non voluptatum beatae hic provident perspiciatis in quia neque quo mollitia quis. 
    Et Quis quasi aut odit animi cum esse mollitia aut sequi blanditiis. </p>
</div>


</ion-content>
