<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>
    Logowanie
  </h1>
  <p>Na razie nie mam pojęcia jak to ugryźć.</p>
  <p>Poniżej przyycisk do wywołania acitonSheet - menu wysuwane od dołu.</p>
  <ion-button (click) = "presentActionSheet()">Action!</ion-button>
  
</ion-content>
