<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <h1>Board Games</h1>
        
        <!-- Sekcja SCHEDULER -->
        <ion-list id="scheduler-list">
          <ion-list-header>Scheduler</ion-list-header>
          <!-- <ion-note>Planowanie rozgrywki</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let page of schedulerPages">
            <ion-item routerDirection="root" [routerLink]="[page.url]" [queryParams]="{ title: page.title }"  lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Sekcja logowania-->
        <ion-list id="game-catalog-list">
          <ion-list-header>Logowanie/rejestrcja</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of logPages">
            <ion-item routerDirection="root" [routerLink]="[page.url]" [queryParams]="{ title: page.title }"  lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> 

        <!-- Sekcja Katalog gier-->
        <ion-list id="game-catalog-list">
          <ion-list-header>Rozgrywka</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of gameCatalogPages">
            <ion-item routerDirection="root" [routerLink]="[page.url]" [queryParams]="{ title: page.title }" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> 

        <ion-list id="about">
          <ion-menu-toggle auto-hide="false" *ngFor="let page of infoPages">
            <ion-item routerDirection="root" [routerLink]="[page.url]" [queryParams]="{ title: page.title }" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> 
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

