<ion-header>
      <ion-toolbar>
    
        <ion-back-button slot="start" defaultHref="game-compedium"></ion-back-button>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="gameTitle">Tajniacy</h2>  
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" class="ion-text-center">
        <img src="assets/images/tajniacy.png" alt="Tajniacy" class="img-fluid">
      </ion-col>
      <ion-col size="12" size-sm="6">
        <p>
          Dwie drużyny, którym przewodzi dwóch Szefów Wywiadu, próbują jak najszybciej nawiązać kontakt ze wszystkimi swoimi agentami.
        </p>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <p>
          Parametry gry, ilość uczestników itp
        </p>
      </ion-col>
      <ion-col size="12" size-sm="6">
        dodatkowe infromacje np zawartość pudełka
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
