ion-content {
    text-align: justify;
}

.subtitle {
    font-size: 18px;
    font-style: italic;
    text-align: left;
}

.img-fluid {
    max-width: 60%; 
    height: auto; /* Zachowaj proporcje */
  }